{
    email {$TLS_EMAIL}

    log {
        level {$CADDY_LOG_LEVEL}
        output file /var/log/caddy/error.log {
            roll_size 10MiB
            roll_keep 10
            roll_keep_for 720h
        }
        format console
    }
}

import /etc/caddy/snippets/*.caddy
import /etc/caddy/sites/*.caddy
